<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Personnel administratif - Dashboard</title>
    </head>
<body>
<div th:replace="~{fragments/navbar :: nav}"></div>
<h1>Personnel administratif</h1>
<p>Zone pour le personnel administratif: gestion des dossiers, affectation d'encadrants, et gestion des étapes administratives.</p>

<ul>
    <li><a href="#">Liste des dossiers</a></li>
    <li><a href="#">Rapports</a></li>
</ul>

</body>
</html>
